:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    /* Size */
    --padding:12px;
    --avatar-size:36px;



    /* Font Size */

    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Roboto;
}

li{
    list-style: none;
}
button,button:focus{
    outline:none;
    cursor:pointer;
    background-color:var(--white-color);
    border:none;

}

header{
    background-color: black;
    color:var(--white-color);
    padding: var(--padding);
    display:flex;
    justify-content: space-between;
    font-size:var(--font-large);
}

header .title .fa-youtube{
    color:var(--red-color);
    font-size:var(--font-large);
}

header .logo .fa-magnifying-glass{
    margin-right:var(--padding);
}

.player{
    position:sticky;
    top:0;
    text-align:center;
    background-color: black;
}

.player video{

    width:100%;
    height:100%;
    max-width:768px;
}

.infoandupnext .info{
    padding:var(--padding);
    margin-top:calc(var(--padding)/2);
}

.info .hashtags{
    display:flex;
    font-size:var(--font-small);
    color:blue;
}

.info .hashtags span{
    margin-right: var(--padding);
}

.info .titleAndInfo{
    display: flex;

}
.info .titleAndInfo .title.clamp{

    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
}

.info .titleAndInfo .title{
font-size:var(--font-medium);
margin-right:var(--padding);
}


.info .titleAndInfo .moreBtn{
    height:100%;
    transition:transform 300ms ease-in-out 

}

.info .titleAndInfo .moreBtn.clicked{
    transform:rotate(180deg);
    transition:transform 300ms ease-in-out 
    
}

.info .views{
    margin-top:calc(var(--padding)/2);
    color:var(--grey-dark-color);
    font-size:var(--font-small);
}

.info .etc{
    margin-top:var(--padding);
    display: flex;
    justify-content: space-around;
    font-size:var(--font-medium);

}

.info .etc button{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--grey-dark-color);
}

.info .etc i{
    margin-bottom:calc(var(--padding)/2);
    font-size:var(--font-large);
}

.info .etc i.active{
    color:blue;
}

.info .etc span{
    font-size:var(--font-small);
}

.subinfo{
    border-top:1px solid var(--grey-light-color);
    border-bottom:1px solid var(--grey-light-color);
    display:flex;
    justify-content: space-between;
    margin-top:var(--padding);
}

.subinfo img{
    width:var(--avatar-size);
    height:var(--avatar-size);
    border-radius:50%;
}

.subinfo .information{
    display:flex;
}

.subinfo .information .infoinfo{
    display:flex;
    flex-direction: column;
    font-size:var(--font-medium);
    margin-left:calc(var(--padding)/2);
}

.subinfo .information .infoinfo .subnum{
    font-size:var(--font-small);
    color:var(--grey-dark-color);
}

.subinfo .subscribe{
    color:red;
    text-transform: uppercase;
    font-size:var(--font-medium);

}
.upnext{
    padding:var(--padding);
}

.upnext > .title{
    font-size:var(--font-medium);
    color:var(--grey-dark-color);
}


.upnext .moreinfo{
    margin-top:var(--padding);
    display:flex;
    justify-content: space-between;
    
}

.upnext .moreinfo .imginfo .title{
    display:flex;
    flex-direction: column;
}

.upnext .moreinfo .imginfo{
    display:flex;
    flex-direction: column;
    
}

.upnext .moreinfo .imginfo .imgtitle{
    font-size:var(--font-small);
}

.upnext .moreinfo .imginfo .imgname{
    font-size:var(--font-micro);
    color:var(--grey-dark-color);
}

.upnext .moreinfo .imginfo .imgviews{
    font-size:var(--font-micro);
    color:var(--grey-dark-color);
}

.upnext .moreinfo .img{
    flex:1 1 35%;
    margin-right:var(--padding);
}

.upnext .moreinfo .imginfo{
    flex:1 1 60%;
}

.upnext .moreinfo .imginfo .moreBtn{
    flex:1 1 5%;
}

.upnext .moreinfo .img img{
    width:100%;
}

.infoandupnext{
    display:flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .infoandupnext{
        flex-direction:row;
        /* margin:var(--padding) 0; */
    }
}


